
<nav id="myTopnav" class="topnav">
<a class="nav" href="/services">SERVICES</a>
<a class="nav" href="/technical">TECHNICAL SEO</a>
<a class="nav" href="/onpage">ON-PAGE SEO</a>
<a class="nav" href="/offpage">OFF-PAGE SEO</a>
<a class="nav" href="/companalys">COMP. ANALYSIS</a>
<a class="nav" href="/blog">BLOG</a>
<a class="nav" href="/about">ABOUT ME</a>
<a class="nav" href="/contact">CONTACT</a>
<a href="#" class="icon">
   <i class="fa fa-bars"></i>
 </a>

</nav>

<div id ="languages">
<img class="flag" src="/DE.png">
<img class="flag"  src="/FR.gif">
<img class="flag" src="/GB.png">
</div>
<script>


$(".icon").click(function nav() {

var x = $("#myTopnav")[0];
if (x.className === "topnav") {
        x.className += " responsive";
    } else {
            x.className = "topnav";
    }
});


</script>
