
<nav>
<a class="nav" href="/">PETITION</a>
 <a class="nav" href="/about">ABOUT</a>
  <a class="nav" href="/contact">CONTACT</a>
  <a class="nav" href="/logout">EXIT</a>
  <a class="nav" href="/profile/edit">PROFILE</a>
</nav>
