
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>My Petition </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/fonts/fonts.css" />

        <link rel="stylesheet" href="/styles.css">

    </head>
    <body>
{{>navloggedin}}

        {{{body}}}


    {{>footer}}




    </body>
</html>
