
<style>

* {

    background: none;
}
html {
    background: url("canalreg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 1;

}

.registermain {
    background-color: darkgrey;
    width: 35%;
    margin-left: 63%;
    margin-top: 14%;
    margin-bottom: 10%;
    color: white;
    postiion: absolute;
    position: fixed;
    overflow: scroll;
    max-height: 500px; 
    overflow-y: auto;
}



</style>


<br><br><br>

<div class="registermain">
    <h3> about the campaign </h3>

    <span class="wrap">
        Mission<br><br>
        The Clean Rivers Campaign will ensure that the federally-mandated
         solution to our sewer problem will bring maximum benefits to our community.
        <br>
        This fix, which will be the largest public works project in our lifetimes,
         can revitalize our communities through the creation of family-sustaining jobs
          and green infrastructure improvements such as permeable streets, rain gardens,
           trees, and parks.
        <br>
        Through education, advocacy, and civic engagement, the campaign will champion
        large-scale green infrastructure strategies and promote smart public policies.

    </span>

    <span class="wrap">
        Mission<br><br>
        The Clean Rivers Campaign will ensure that the federally-mandated
         solution to our sewer problem will bring maximum benefits to our community.
        <br>
        This fix, which will be the largest public works project in our lifetimes,
         can revitalize our communities through the creation of family-sustaining jobs
          and green infrastructure improvements such as permeable streets, rain gardens,
           trees, and parks.
        <br>
        Through education, advocacy, and civic engagement, the campaign will champion
        large-scale green infrastructure strategies and promote smart public policies.

    </span>
    <span class="wrap">
        Mission<br><br>
        The Clean Rivers Campaign will ensure that the federally-mandated
         solution to our sewer problem will bring maximum benefits to our community.
        <br>
        This fix, which will be the largest public works project in our lifetimes,
         can revitalize our communities through the creation of family-sustaining jobs
          and green infrastructure improvements such as permeable streets, rain gardens,
           trees, and parks.
        <br>
        Through education, advocacy, and civic engagement, the campaign will champion
        large-scale green infrastructure strategies and promote smart public policies.

    </span>

    <span class="wrap">
        Mission<br><br>
        The Clean Rivers Campaign will ensure that the federally-mandated
         solution to our sewer problem will bring maximum benefits to our community.
        <br>
        This fix, which will be the largest public works project in our lifetimes,
         can revitalize our communities through the creation of family-sustaining jobs
          and green infrastructure improvements such as permeable streets, rain gardens,
           trees, and parks.
        <br>
        Through education, advocacy, and civic engagement, the campaign will champion
        large-scale green infrastructure strategies and promote smart public policies.

    </span>
</div>
