
<div class ="description">
    <h3> about the campaign </h3>


<p >

Mission<br><br>
The Clean Rivers Campaign will ensure that the federally-mandated solution to our sewer problem will bring maximum benefits to our community.
<br>
This fix, which will be the largest public works project in our lifetimes, can revitalize our communities through the creation of family-sustaining jobs and green infrastructure improvements such as permeable streets, rain gardens, trees, and parks.
<br>
Through education, advocacy, and civic engagement, the campaign will champion large-scale green infrastructure strategies and promote smart public policies.

<br><br><br><br><br>
Abstract<br><br>
The submission explores the possibility of a policy revision for considering clean air quality in recently launched nationwide campaign, Clean India Mission (CIM). Despite of several efforts for improving availability of clean household energy and sanitation facilities, situation remain still depressing as almost half of global population lacks access to clean energy and proper sanitation. Globally, at least 2.5 billion people do not have access to basic sanitation facilities. There are also evidences of 7 million premature deaths by air pollution in year 2012. <br>The situation is even more disastrous for India especially in rural areas.<br> Although, India has reasonably progressed in developing sanitary facilities and disseminating clean fuel to its urban households, the situation in rural areas is still miserable and needs to be reviewed. Several policy interventions and campaigns were made to improve the scenario but outcomes were remarkably poor. <br> Indian census revealed a mere 31% sanitation coverage (in 2011) compared to 22% in 2001 while 60% of population (700 million) still use solid biofuels and traditional cook stoves for household cooking. Further, last decade (2001-2011) witnessed the progress decelerating down with rural households without sanitation facilities increased by 8.3 million while minimum progress has been made in conversion of conventional to modern fuels. To revamp the sanitation coverage, an overambitious nationwide campaign CIM was initiated in 2014 and present submission explores the possibility of including 'clean air' considerations within it.  The article draws evidence from literatures on scenarios of rural sanitation, energy practises, pollution induced mortality and climatic impacts of air pollution. This subsequently hypothesised with possible modification in available technologies, dissemination modes, financing and implementation for integration of CIM with 'clean air' so that access to both sanitation and clean household energy may be effectively addressed.

</p >



</div>














<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="script.js"></script>
