
<style>

* {

    background: none;
}
html {
    background: url("canal.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 1;

}

.registermain {

    width: 55%;
    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: 10%;
    position: fixed;
    overflow: scroll;
    max-height: 500px;
    overflow: auto;
}
span {

    color: black;
}


@media (max-width: 750px) {

.registermain {
        width: 75%;

        right: 30px;

    }
}


</style>


<br><br><br>

<div class="registermain">
    <div class= "h3head">
    </div><br><br><br>
    <h3 class="titleReg"> ABOUT THE CAMPAIGN <br></h3>

    <span class="wrap">
        Mission<br><br>
        Enough urban pollution in and around the canals.<br> <br>

        The Clean Rivers Campaign will ensure that the federally-mandated
         solution to our sewer problem will bring maximum benefits to our community.
        <br>
        This fix, which will be the largest public works project in our lifetimes,
         can revitalize our communities through the creation of family-sustaining jobs
          and green infrastructure improvements such as permeable streets, rain gardens,
           trees, and parks.
        <br>
        Through education, advocacy, and civic engagement, the campaign will champion
        large-scale green infrastructure strategies and promote smart public policies.


        Mission<br><br>
        The Clean Rivers Campaign will ensure that the federally-mandated
         solution to our sewer problem will bring maximum benefits to our community.
        <br>
        This fix, which will be the largest public works project in our lifetimes,
         can revitalize our communities through the creation of family-sustaining jobs
          and green infrastructure improvements such as permeable streets, rain gardens,
           trees, and parks.
        <br>
        Through education, advocacy, and civic engagement, the campaign will champion
        large-scale green infrastructure strategies and promote smart public policies.


        Mission<br><br>
        The Clean Rivers Campaign will ensure that the federally-mandated
         solution to our sewer problem will bring maximum benefits to our community.
        <br>
        This fix, which will be the largest public works project in our lifetimes,
         can revitalize our communities through the creation of family-sustaining jobs
          and green infrastructure improvements such as permeable streets, rain gardens,
           trees, and parks.
        <br>
        Through education, advocacy, and civic engagement, the campaign will champion
        large-scale green infrastructure strategies and promote smart public policies.

        Mission<br><br>
        The Clean Rivers Campaign will ensure that the federally-mandated
         solution to our sewer problem will bring maximum benefits to our community.
        <br>
        This fix, which will be the largest public works project in our lifetimes,
         can revitalize our communities through the creation of family-sustaining jobs
          and green infrastructure improvements such as permeable streets, rain gardens,
           trees, and parks.
        <br>
        Through education, advocacy, and civic engagement, the campaign will champion
        large-scale green infrastructure strategies and promote smart public policies.
        <br><br><br><br><br>

    </span>
</div>
