
<style>

* {

    background: none;
}
html {
    background: url("/canalmain.jpg") repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 1;

}

input {

    color: white;
}
.sendemail {
    margin-left: 15%;
}

.address {
    margin-left: 15%;
    color: black;
}
.registermain {
    background-color: rgba(160, 160, 160, 0.9);
    margin-left: 35%;

    position: fixed;
}

label {

    color: white;
    font-size: 14px;
    background-color: grey;

}



@media (max-width: 750px) {

    .address {

        font-size: 7px;
    }
    .sendemail {

        margin-left:2%
     }

        .registermain {
            background-color: rgba(160, 160, 160, 0.9);
            margin-left: 10%;
            font: white;
            position: fixed;
        }

        label {

            color: white;
            font-size: 11px;
            background-color: grey;
        }
    }



</style>


<br><br><br>

<div class="registermain">


    <h3 class="titleReg"> GET IN TOUCH! <br>
    </h3>



    <form method="post">
<label> name</label>

        <input type="text"  id="name" placeholder="Name" required>
<label> email </label>
        <input type="email" placeholder="Email" required>
        <br>
<label> message </label>
<br>

        <textarea  rows="8" cols="30" placeholder="Message" required></textarea>



        <button class="registerSubmit" onclick="sendMail(); return false">Send</button>
    </form>
    <p class="address">
        Falckensteinstraße 49, 10997 Berlin <br>
        Email: freshwatercanals@canalsberlin.com <br>
        Tel: 030 3433 54366 <br>
        Mon-Fri 8am - 3pm
    </p>

    {{#if ThanksMessage}}
    <p class="thanks">
        thanks for your message!
    </p>
    {{/if}}

</div>
