


<div id="sidebarHP">

    <a href="#presentation"> presentation </a> <br>
    <a href="#services"> services</a><br>

    <a href="#blog"> blog</a><br>

</div>



<div class="main">
    <img id="picintro"src="/freelancer.jpeg" width="30%" hight="30%" alt="">

    <img id="picintro"src="/berlin.jpg" width="31%" hight="31%" alt="">
    <img id="picintro"src="/program.jpg" width="30%" hight="30%" alt="">


        <div class="title">

            <h1 id ="#presentation"> {EXPERIENCED} SEO (FREELANCER) > IN BERLIN</h1>

        </div>
        <div class="description" id="intro">

            ~ Over <strong>8 years experience in SEO</strong>, in-house and as a freelancer  ~ <br>
            ~ Qualified in <b>scrum</b> and experienced using it leading a team ~ <br>
            ~ Full-stack <b>web development knowledge</b> (Javascript & JQuery, node, express, MVC & React) ~ <br>   ~ Very good knowledge of <strong> Analytics</strong> ~
  MBA ~ Good knowledge of <strong>Adwords </strong>
        </div>
        <div class="halfdescription">
                <h2> SEO CHALLENGES</h2>

            ~ Over 8 years experience in SEO, in-house and as a freelancer  ~ <br>
            ~ Qualified in scrum and experienced using it leading a team ~ <br>
            ~ Full-stack web development knowledge (Javascript & JQuery, node, express, MVC & React) ~ <br>   ~ Good knowledge of Analytics ~
        </div>




        <div class="halfdescription">
            <h2> SEO CHALLENGES</h2>
            ~ Over 8 years experience in SEO, in-house and as a freelancer  ~ <br>
            ~ Qualified in scrum and experienced using it leading a team ~ <br>
            ~ Full-stack web development knowledge (Javascript & JQuery, node, express, MVC & React) ~ <br>   ~ Good knowledge of Analytics ~
        </div>




        <div class="halfdescription">
                <h2> SEO CHALLENGES</h2>

            ~ Over 8 years experience in SEO, in-house and as a freelancer  ~ <br>
            ~ Qualified in scrum and experienced using it leading a team ~ <br>
            ~ Full-stack web development knowledge (Javascript & JQuery, node, express, MVC & React) ~ <br>   ~ Good knowledge of Analytics ~
</div>




        <div class="halfdescription">
            <h2> SEO CHALLENGES</h2>
            ~ Over 8 years experience in SEO, in-house and as a freelancer  ~ <br>
            ~ Qualified in scrum and experienced using it leading a team ~ <br>
            ~ Full-stack web development knowledge (Javascript & JQuery, node, express, MVC & React) ~ <br>   ~ Good knowledge of Analytics ~
        </div>


                <div class="title">

                    <h3 id ="#services"> SERVICES</h3>

                </div>
                <div class="description" id="intro">


                </div>
                <div class="halfdescription">
                        <h2> ON-PAGE</h2>

                    ~ Over 8 years experience in SEO, in-house and as a freelancer  ~ <br>
                    ~ Qualified in scrum and experienced using it leading a team ~ <br>
                    ~ Full-stack web development knowledge (Javascript & JQuery, node, express, MVC & React) ~ <br>   ~ Good knowledge of Analytics ~
                </div>




                <div class="halfdescription">
                    <h2> TECHNICAL SEO</h2>
                    ~ Over 8 years experience in SEO, in-house and as a freelancer  ~ <br>
                    ~ Qualified in scrum and experienced using it leading a team ~ <br>
                    ~ Full-stack web development knowledge (Javascript & JQuery, node, express, MVC & React) ~ <br>   ~ Good knowledge of Analytics ~
                </div>




                <div class="halfdescription">
                        <h2> BACKLINK AUDIT</h2>

                    ~ Over 8 years experience in SEO, in-house and as a freelancer  ~ <br>
                    ~ Qualified in scrum and experienced using it leading a team ~ <br>
                    ~ Full-stack web development knowledge (Javascript & JQuery, node, express, MVC & React) ~ <br>   ~ Good knowledge of Analytics ~
        </div>




                <div class="halfdescription">
                    <h2> COMPETITOR ANALYSIS</h2>
                    ~ Over 8 years experience in SEO, in-house and as a freelancer  ~ <br>
                    ~ Qualified in scrum and experienced using it leading a team ~ <br>
                    ~ Full-stack web development knowledge (Javascript & JQuery, node, express, MVC & React) ~ <br>   ~ Good knowledge of Analytics ~
                </div>

                <div class="title">

                    <h3> BLOG</h1>

                </div>
                <div class="description" id="intro">


                </div>
                <div class="halfdescription">
                        <h2> ON-PAGE</h2>

                    ~ Over 8 years experience in SEO, in-house and as a freelancer  ~ <br>
                    ~ Qualified in scrum and experienced using it leading a team ~ <br>
                    ~ Full-stack web development knowledge (Javascript & JQuery, node, express, MVC & React) ~ <br>   ~ Good knowledge of Analytics ~
                </div>




                <div class="halfdescription">
                    <h2> TECHNICAL SEO</h2>
                    ~ Over 8 years experience in SEO, in-house and as a freelancer  ~ <br>
                    ~ Qualified in scrum and experienced using it leading a team ~ <br>
                    ~ Full-stack web development knowledge (Javascript & JQuery, node, express, MVC & React) ~ <br>   ~ Good knowledge of Analytics ~
                </div>




                <div class="halfdescription">
                        <h2> BACKLINK AUDIT</h2>

                    ~ Over 8 years experience in SEO, in-house and as a freelancer  ~ <br>
                    ~ Qualified in scrum and experienced using it leading a team ~ <br>
                    ~ Full-stack web development knowledge (Javascript & JQuery, node, express, MVC & React) ~ <br>   ~ Good knowledge of Analytics ~
        </div>




                <div class="halfdescription">
                    <h2> COMPETITOR ANALYSIS</h2>
                    ~ Over 8 years experience in SEO, in-house and as a freelancer  ~ <br>
                    ~ Qualified in scrum and experienced using it leading a team ~ <br>
                    ~ Full-stack web development knowledge (Javascript & JQuery, node, express, MVC & React) ~ <br>   ~ Good knowledge of Analytics ~
                </div>

        <div id="blog">
        BLOG
        </div>


</div>
