
<div class ="description">

<h3> If you are already registered, log in here!</h3>

<form class="regLine" method="POST">
    <label>Email</label>
    <input type="email" placeholder="your email address" name="emailAddress"required>

    <label>Password</label>
    <input type="password" placeholder="your password" name="password" required>


    <button class="registerSubmit" type="submit">Log in</button>

    {{#if errorMessage}}
    <p id="error">
        Error! The password is incorrect, or the email address not registered.<br>
        Please check and try again.
    </p>
    {{/if}}

</form>
</div>
