
<div class ="description2">


    <h3> Make the Berlin canals great <br>and swimmable again!! </h3>
<br><br>
    <p>
        Only a few years ago during the summer, Berliners would use the city's canals
        to have a swim. <br>But in the last few years, this has become impossible. <br><br>
        Sign the petition today to put pressure on local authorities so they at last <br>
        start taking care of the precious natural environment in the city!
    </p>



    <div class="canalimages">

        <img src="canal.png" height=150px width=250px>
        <img src="canalswimming.jpg" height=150px width=250px >


    </div>

    <form method="POST">

        <div class="namesPet">



            <input class= "inputPetition" name="firstname" type="text" placeholder="your first name" >
            <input class= "inputPetition" name="surname" type="text" placeholder="your surname">

        </div>
        <div class="signPet">

            <input class= "inputPetition" type="hidden" name ="signature" id="sig">
            <p class="instructions">please enter your name and surname and sign below</p>
            <canvas class= "inputPetition" id="canvas" width="280" height="100"></canvas>


            <button> Submit </button>
        </div>




    </form>
    {{#if errorMessage}}
    <p id="error">
        Error! Please review your input and make sure all fields are completed.
    </p>
    </div>

    {{/if}}
</div>











<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="script.js"></script>
