
<div class ="description ">
    <h3> Get in touch </h3>


    <div class="contact">


        <form method="post">

            <input type="text"  id="name" placeholder="Name" required>

            <input type="email" placeholder="Email" required>

            <textarea rows="10" cols="70" placeholder="Message" required></textarea>

            <button>Send it!</button>
        </form>
    </div>
    <div>

        {{#if thanksMessage}}
        <p id="error">
            Error! Please review your input and make sure all fields are completed.
        </p>

                {{/if}}
        {{#if errorMessage}}
        <p id="error">
            Error! Please review your input and make sure all fields are completed.
        </p>


        {{/if}}
    </div>
<br><br><br><br><br><br>
    <div>
        Falckensteinstraße 49, 10997 Berlin <br>
        Email: freshwatercanals@canalsberlin.com <br>
        Tel: 030 3433 54366 <br>
        Mon-Fri 8am - 3pm


</div>
</div>
