
<style>


html {
    background: url("/canalmain.jpg") repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 1;

}

.registermain{
    background-color: rgba(160, 160, 160, 0.7);

    margin-left: 30%;
    margin-top: 10%;
    margin-bottom: 15%;
    width: 40%;
    font-size: 16px;
    color: black;
    position: fixed;
    padding:10px;
}





.editProf{
    text-align: center;



}


label {

    text-align: center;
}

@media (max-width: 750px) {

.registermain{
    background-color: rgba(160, 160, 160, 0.6);

    margin-left: 5%;
    margin-top: 10%;
    margin-bottom: 15%;
    width: 70%;
    font-size: 16px;
    color: black;
    position: relative;
    padding:10px;

}

}


</style>

<div class="registermain">

    <h3 class="titleReg"> Tell us about you!</h3>

    <form method="POST" class=regLine>



        <label>age</label>
        <input type="number" placeholder="your age" name="age">

        <label>city</label>
        <input type="text" placeholder="your city" name="city" >

        <label>your website</label>
        <input type="text" name="personalweb" placeholder="full url: https://www"/>



        <button class="profileSubmit" type="submit">CONTINUE</button>

</form>



{{#if errorMessage}}

<p id="error">
    Error!
</p>
{{/if}}
</div>
