



<div class="registermain">

    <h3> Berlin canals: Join the campaign for fresh and swimmable waters </h3>

    <form method="POST" class=regLine>



        <label>First name</label>
        <input type="text" placeholder="your first name" name="firstName"required>

        <label>Last name</label>
        <input type="text" placeholder="your last name" name="surname"required >

        <label>Email Address</label>
        <input type="email" placeholder="your email address" name="emailAddress"required>

        <label>Password</label>
        <input type="password" placeholder="your password" name="password"required>

        <button class="registerSubmit" type="submit">Sign up</button>
        <div class="passwordNotice">
            Please note passwords are stored securely
            using hashing, salting, and Bcrypt.
        </div>


    </form>

    {{#if errorMessage}}

    <p id="error">
        The email address is already registered, please log-in instead!
    </p>
    {{/if}}
</div>
