
<style>


html {
    background: url("canalreg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 1;

}





</style>


<br><br><br>

<div class="registermain">
    <br>


    <h3 class="titleReg"> MAKE BERLIN CANALS <br> CLEAN AGAIN <br>
        </h3>


        <form method="POST" class=regLine>


            <div id="firstcolumn">

                <label>First name</label>
                <input type="text" placeholder="your first name" name="firstname"required>

                <label>Last name</label>
                <input type="text" placeholder="your last name" name="surname"required >


            </div>
            <div id="secondcolumn">
                <label>Email</label>
                <input type="email" placeholder="your email" name="emailaddress"required>

                <label>Password</label>
                <input type="password" placeholder="your password" name="password"required>

            </div>
            <button class="registerSubmit" type="submit">Sign up</button>
            <div class="passwordNotice">
                Please note passwords are stored securely
                using hashing, salting, and Bcrypt.
            </div>

            <br>
        </form>

        {{#if errorMessage}}

        <p id="error">
            The email address is already registered, please log-in instead!
        </p>
        {{/if}}
</div>
