

<h3> Thank you, your signature counts! </h3>

<div class ="signature">


<img src="{{userSign}}" alt="signature" id="sigId">

</div>

<div class ="thankYouText">

<p>
If we succeed, we will soon be able to swim again in a clean canal, junk-free.
</p>


<br>
<br>



<br>
<div class="lemonpic">

    <a id="link" href="/buddylist"> Check the list of {{numberSign}} signers </a> <br>


    <a id="link" href="/profile/edit">Edit your profile</a> <br>

    <a id="link" href="">Delete your signature</a>
</div>

</div>
