<style>

* {

    background: none;
}
html {
    background: url("canalswimming.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 1;

}
</style>


<div class="description">

    <br>
    <br>
<h3> Thank you {{firstname}}, your signature counts! </h3>


<br>
<br>
<br>

<div class ="signature">


<img src="{{userSign}}" alt="signature" id="sigId">

</div>

<div class ="thankYouText">

<p>
If we succeed, we will soon be able to swim again in a clean canal, junk-free!!
</p>


<br>
<br>
<br>
<br>


<div class="ThankYouLinks">



    <a id="link" href="/buddylist"> Check the list of {{numberSign}} signers </a> <br>


    <a id="link" href="/profile/edit">Edit your profile</a> <br>
    <form method="POST">

    <button class="deleteSign" type="submit">Delete your signature</button>
</form>



</div>

</div>
</div>
