

<h3> Thank you, your signature counts! </h3>

<div class ="signature">


<img src="{{userSign}}" alt="signature" id="sigId">

</div>

<div class ="thankYouText">

<p>
If we succeed, we will soon be able to swim again in a clean canal, junk-free. <br>
Check out the <a href="/buddylist"> list </a> of the {{numberSign}} who already signed!</p>



</div>
