* {
    background-color: #c1bdb4;
    font-family: arial;
}

.description {
    margin: 15px;
    width: 50%;
    top: 0px;
    left: 30%;
    position: absolute;
}

.description2 {
    margin: 15px;
    width: 70%;
    top: 0px;
    left: 20%;
    position: absolute;
}

form {
    margin-top: 50px;
    display: inline;
}

.lemonpic {
    display: inline-block;
    position: absolute;
    left: 40%;
}
.regLine {
    display: inline-block;
    position: relative;
    align-content: center;
    left: 20%;
    width: 30%;
}

canvas {
    border: 2px dotted #ddc963;
}

button {
    background-color: #ddc963;
}

.namesPet {
    display: inline-block;
    position: relative;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.signPet {
    display: inline-block;
    position: relative;
}
img {
    border: #ddc963 1px solid;
}

p {
    font-size: 13px;
    display: block;
}

h6 {
    margin-top: 0;
    line-height: 20px;
}

h3 {
    z-index: 30;
    position: relative;
    text-align: center;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0px;
    color: #343434;
    font-size: 22px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: normal;
    font-family: "Orienta", sans-serif;
    letter-spacing: 1px;
    font-style: italic;
    margin-top: 80px;
}

#error {
    color: red;
    position: relative;
    margin-left: 10%;
}

.list {
    margin-left: 10%;
    margin-top: 10%;
    margin-right: 30%;
    border: 1px #ddc963 dotted;
    z-index: 10;
    position: relative;
}

.numbers {
}

label {
    font-size: 12px;
    margin-left: 30%;
    color: darkgreen;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:active {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #44929f;
    text-decoration: none;
}

nav {
    background-color: rgba(72, 209, 204, 0.1);
    margin-bottom: 10px;
    padding: 10px;
    top: 0;
    left: 10px;
    font-size: 13px;
    text-align: left;
    position: fixed;
    width: 100%;
    z-index: 100;
    text-shadow: -0px 1px 0px #00e6e6, -0px 0px 0px #01cccc,
        -0px 0px 0px #00bdbd;
}

nav a:link {
    color: white;
    font-family: sans-serif;
    text-decoration: none;
}

nav a:visited {
    text-align: right;
    color: white;
    font-family: sans-serif;
    text-decoration: none;
}

nav a:active {
    color: white;
    font-family: sans-serif;
    text-decoration: none;
}

nav a:hover {
    color: #44929f;
    font-family: sans-serif;
    text-decoration: none;
    background-color: lightgrey;
}

.nav {
    padding: 4px;
    margin: 3px;
    width: 10px;
    background-color: #44929f;
}

input {
    display: block;
    margin-left: 30%;
    margin-bottom: 13px;
    border: 1px #ddc963 dotted;
}

.registerSubmit {
    margin-left: 30%;
}

.profileSubmit {
    margin-left: 30%;
}

.inputPetition {
    positon: relative;
    z-index: 10;
}
.passwordNotice {
    left: 29%;
    font-size: 11px;
    position: relative;
    font-style: italic;
    border: solid 1px white;
    margin-top: 10px;
    width: 60%;
    color: black;
    padding: 4px;
    background-color: lightgrey;
}
footer {
    font-size: 12px;
    position: fixed;
    bottom: 0;

    width: 100%;
    padding-left: 300px;
    padding-right: 300px;
    z-index: 300;
}

.instructions {
    font-size: 10px;
    text-decoration: italic;
}

/*  thankyou Page */

.thankYouText {
    margin: 60px;
    text-align: center;
    position: relative;
}

.signature {
    margin: 20px;
    text-align: center;
    position: relative;
}

.registermain {
    margin-top: 50px;
}

.contact {
    margin-top: 80px;
}

span {
    word-wrap: break-word;
    display: block;
    z-index: 10;
    position: relative;
}

.canalimages {
    display: in-line;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* .canal {
    background: url("canal.png") no-repeat;
    display: inline-block;
    width: 130px;
    height: 195px;
}

.canal:hover {
    background: url("canalswimming.jpeg") no-repeat;
} */
