* {
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    /* background-color: #f4e3b1;
    opacity: 1; */
}

html {
    font-family: bariolregular;
    background-color: lightgrey;
}
h1 {
    background-color: #14325c;
    color: white;
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 30px;
    width: 90%;
    text-align: center;
    padding: 10px;
    /* position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    position: fixed; */
    z-index: 10;
}
h2 {
    color: white;
    font-size: 20px;
    margin-top: 0px;
    padding: 10px;
    text-align: center;
    width: 100%;
    background-color: #d96b0c;
    display: inline-block;
    /* position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    position: fixed; */
    z-index: 10;
}

.main {
    position: relative;
    left: 15%;
    width: 70%;
    top: 10%;
    margin-top: 5%;
    z-index: 10;
    display: inline-block;
    background-color: lightgrey;
}

.halfdescription {
    width: 40%;
    align-content: center;
    display: inline-block;
    padding: 20px;
}

.description {
    font-size: 20px;
    margin-top: 0px;
    padding: 20px;
    z-index: 10;
}

#blog {
    position: absolute;
    color: pink;
}

img {
    margin: 0;
}

/* navigation ////////START//////////////// */

#sidebarHP {
    position: fixed;
    top: 40%;
    left: 2%;
}
nav {
    top: 0px;
    margin-bottom: 20%;
    margin-left: 5%;
    padding: 1%;
    padding-top: 1%;
    left: 10px;
    font-size: 13px;
    text-align: left;
    position: fixed;
    background-color: lightgrey;
    width: 90%;
    z-index: 100;
}

nav .icon {
    display: none;
}
nav a:link {
    color: white;

    text-decoration: none;
}

nav a:visited {
    text-align: right;
    color: white;
    text-decoration: none;
}

nav a:active {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #44929f;
    text-decoration: none;
    background-color: lightgrey;
}

.nav {
    padding: 7px;
    margin: 9px;
    margin-top: 0px;
    width: 14px;
    border: lightgrey 1px solid;

    background-color: grey;
    border: 1px dotted white;
    /* text-shadow: -0px 1px 0px #00e6e6, -0px 0px 0px #01cccc,
        -0px 0px 0px #00bdbd; */
}

#languages {
    position: fixed;
    top: 50px;
    right: 60px;
}

.flag {
    display: block;
    height: 15px;
    width: 19px;
    margin: 4px;
    /* navigation ////////END//////////////// */
}
button {
    background-color: #ddc963;
}

h3 {
    z-index: 300;
    background-color: rgba(68, 146, 159, 0.9);
    position: relative;
    text-align: center;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    color: #343434;
    font-size: 15px;
    padding-bottom: 5px;
    font-weight: normal;
    letter-spacing: 1px;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:active {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #44929f;
    text-decoration: none;
}

footer {
    font-size: 13px;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 85%;
    margin-right: 80px;
}
