
<div class ="description">
    <h2> Make the Berlin canals swimmable again!! </h2>

    <p>
        only a few years ago during the summer, Berliners would use the city's canals
        to have a swim. But in the last few years, this has become impossible.
    </p>

    <img src="canal.png" hight=200px width=350px>
    {{#if errorMessage}}

    <p id="error">
Please review your input and check all fields are completed.
    </p>
    {{/if}}


        <form method="POST" action="/">



            <input name="firstname" type="text" placeholder="your first name" >
            <input name="surname" type="text" placeholder="your surname">



            <input type="hidden" name ="signature" id="sig">
            <p>please sign below</p>
            <canvas id="canvas" width="280" height="100"></canvas>


            <button> Submit </button>



    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="script.js"></script>
