* {
    background-color: lightgrey;
}

.description {
    margin: 20px;
    width: 50%;
    top: 5px;
    left: 30%;
    position: absolute;
}

form {
    margin-top: 50px;
}

canvas {
    border: 2px dotted yellow;
}

button {
    background-color: yellow;
}

img {
    border: yellow 1px solid;
}

p {
    font-size: 13px;
    font-style: italic;
    display: block;
}

.swim {
    display: block;
}

h6 {
    margin-top: 0;
}

#error {
    color: red;
    position: absolute;
}

.list {
    margin-left: 10%;
    margin-top: 10%;
    margin-right: 30%;
    border: 1px yellow dotted;
}

.numbers {
}
